<?php
/*
 * config file for ToiletCrazy
 */
$tc_config = array (
        'sina' => array (
                'key' => '',
                'sec' => '',
                'uri' => '' 
        ),
        'db' => array (
                'model' => 'mongodb',
                'connection' => array (
                        'uri' => 'mongodb://localhost',
                        'db' => 'ToiletCrazy',
                        'options' => array () 
                ),
                'collection' => array (
                        'users' => 'users',
                        'blogs' => 'blogs' 
                ) 
        ),
        'template' => __DIR__ . DIRECTORY_SEPARATOR . 'templates' . DIRECTORY_SEPARATOR . 'default' . DIRECTORY_SEPARATOR,
        'site' => array (
                'title' => 'ToiletCrazy' 
        ) 
);
$tc_root=__DIR__.DIRECTORY_SEPARATOR;
$tct_root=$tc_config['template'];